    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Us</title>
        <link rel="stylesheet" href="./aboutus-style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@1,300&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div class="outer-container">
            <div class="head">
                <h1>About Us</h1>
            </div>
            <div class="container">
                <div class="first-box">
                    <p>Welcome to Half Time Store, your ultimate destination for high-quality replica football jerseys,
                        jackets, training suits, international kits, and more. We are passionate about the beautiful game
                        and strive to bring the spirit of football to fans worldwide.
                        At Half Time Store, we understand the deep connection fans have with their favorite football teams
                        and players. We believe that sporting the colors and emblems of your beloved club or national team
                        is a powerful way to showcase your support and loyalty. Our goal is to provide fans with authentic
                        and meticulously crafted replica merchandise that allows them to feel a part of the action, whether
                        on or off the pitch.
                        We take pride in offering an extensive selection of football replicas that encompass a wide range of
                        clubs and national teams. From the storied history of iconic clubs to the excitement of
                        international tournaments, our collection captures the essence of the game. Each product is
                        carefully crafted using premium materials and designed to replicate the jerseys and apparel worn by
                        football stars around the world.
                        Our commitment to quality is unwavering. We work closely with trusted manufacturers who share our
                        dedication to detail and authenticity. Every stitch, badge, and emblem is reproduced with utmost
                        precision, ensuring that our replica products closely resemble their original counterparts. By
                        employing advanced manufacturing techniques and utilizing the finest materials, we strive to create
                        replicas that not only look exceptional but also provide comfort and durability.</p>
                </div>
                <div class="second-box">
                    <h2>OUR MISSION</h2>
                    <p>Our mission is to make high-quality replica football products accessible to football enthusiasts in
                        3rd and 4th tier cities where authentic jerseys and other football-related merchandise may be harder
                        to find. We aim to bridge the gap and provide an opportunity for fans in these areas to showcase
                        their support for their beloved teams with pride.
                        We recognize that football has a passionate following across the globe, and it is our goal to ensure
                        that fans from all regions can express their love for the game through our replica products. We
                        believe that geographical location should never be a hindrance in acquiring the jerseys, jackets,
                        training suits, and international kits that fans desire.
                        Our mission extends beyond simply offering accessibility; we are committed to providing these
                        products at the most affordable rates possible. We understand the financial constraints that some
                        fans may face, and we believe that everyone should have the opportunity to don the colors of their
                        favorite teams without breaking the bank. By sourcing our replicas strategically and working closely
                        with our manufacturers, we aim to offer competitive pricing while maintaining the highest standards
                        of quality.
                        We are dedicated to curating a wide selection of replica football products, encompassing clubs from
                        various leagues and national teams from around the world. Our aim is to provide a comprehensive
                        range of options, allowing fans to find their desired replicas, no matter which team they support.
                        Each product in our collection undergoes rigorous quality checks to ensure that it meets our
                        standards of authenticity and durability.</p>
                </div>
            </div>
        </div>

    </body>

    </html>
