<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Jersey</title>
    <link rel="stylesheet" href="./homestyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@1,300&display=swap"
        rel="stylesheet">   
    <script defer src="./script.js"></script>
</head>

<body>
    <div class="navbar">
        <a href="/index">One Jersey</a>
        <div class="inner-navbar dropdown-menu">
            <a href="/index">Home</a>
            <a href="/about">About</a>
            <a href="/contact-us">Contact Us</a>
        </div>
        <a href="/login"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
            </svg></a>

    </div>

    <div>

        <img id="first-image" class="responsive center" src="./Bayern_Munich_I_Away.png"
            alt="Bayern munich imahe inside a image slider ">
        <div class="inner-image-text">
            <h1 id="first-text" class="text-effect">2023/24</h1>
            <h1 id="second-text" class="text-effect">Season Kits</h1>
            <p class="third-text" class="text-effect">New Arrivals</p>
        </div>
    </div>
    <div class="container2" class="hidden">
        <div>
            <video id="second-image" autoplay muted loop
                src="./PUMA AND AC MILAN LAUNCH NEW FOURTH KITS WITH LA BRAND PLEASURES.mp4"></video>
        </div>
    </div>
    <div class="third-container" class="hidden">
        <div class="third-container-heading">
            Collections
        </div>
        <div class="third-container-items" class="hidden">
            <div class="third-container-inner-items">
                <img class="third-container-img" src="./Ef25-SXXkAAn2U0.jpg" alt="">
                <a href="" class="third-container-inner-items-text">Jersey Set's</a>
            </div>
            <div class="third-container-inner-items">
                <img class="third-container-img" src="./nation-jersey.jpg" alt="">
                <a href="" class="third-container-inner-items-text">National Kits</a>
            </div>
        </div>
        <div class="third-container-items" class="hidden">
            <div class="third-container-inner-items">
                <img class="third-container-img" src="./new collections.jpg" alt="">
                <a href="" class="third-container-inner-items-text">New Collections</a>
            </div>
            <div class="third-container-inner-items">
                <img class="third-container-img" src="./retro-jersey.jpg" alt="">
                <a href="" class="third-container-inner-items-text">Retro Kits</a>
            </div>
        </div>
        <div class="third-container-items" class="hidden">
            <div class="third-container-inner-items">
                <img class="third-container-img" src="./boots.jpg" alt="">
                <p style="padding-bottom: 10vh;" class="third-container-inner-items-text">Football Boots</p>
            </div>
        </div>
    </div>
    <div class="fourth-container" class="hidden">
        <div class="fourth-container-inner-tags">
            <a href="/about">About</a>
            <p> | </p>
            <a href="/contact-us">Contact Us</a>
            <p> | </p>
            <a href="/services">Services</a>
            <p> | </p>
            <a href="./services">Features</a>
        </div>
        <div class="fourth-container-inner-tags-2">
            <p>© One Jersey Marketing Pvt. Ltd</p>
        </div>
    </div>
</body>

</html>