<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services and Features</title>
    <link rel="stylesheet" href="./services-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@1,300&display=swap"
        rel="stylesheet">
</head>
<body>
    <div class="heading">
        <h1>Services and Features</h1>
    </div>
    <div class="box">
        <p><b>Wide range of products:</b> Offer a diverse selection of sports jerseys covering various teams, leagues, and player options to cater to different tastes and preferences.</p>
        <p><b>Customization options:</b> Allow customers to personalize their jerseys with names, numbers, and team logos to create unique and personalized merchandise.</p>
        <p><b>Secure online transactions:</b> Implement robust security measures to ensure that customers' personal and payment information is protected during online transactions.</p>
        <p><b>Multiple payment options:</b> Accept various payment methods, including credit/debit cards, PayPal, and other popular online payment platforms, to accommodate different customer preferences.</p>
        <p><b>Responsive customer support:</b> Offer prompt and helpful customer support through channels like live chat, email, and phone to assist customers with inquiries, order tracking, and issue resolution.</p>
        <p><b>Fast and reliable shipping:</b> Partner with reputable shipping carriers to ensure timely delivery of orders, with options for express shipping for customers who require faster delivery.</p>
        <p><b>Return and exchange policy:</b> Have a clear and fair return and exchange policy in place to provide customers with confidence in their purchases and facilitate hassle-free returns or exchanges if needed.</p>
        <p><b>Discounts and promotions:</b> Offer periodic discounts, promotions, and special offers to incentivize purchases and reward customer loyalty.</p>
    </div>
</body>
</html>