*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Chivo Mono;
    color:aliceblue;
}

body{
    min-height: 100vh;
    background-color: #121212;
    background: url('about\ bg\ final.png') repeat;
    background-size: cover;
    background-position: center;
    
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: #121212;
    width: 100%;
    height: 4rem;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.first-box{
    padding: 2rem;
}

.second-box{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.second-box h2{
    font-weight: 600;
    padding-bottom: 1rem;
}
/* .outer-container{
    display: flex;
    flex-direction: column;
} */

@media (max-width:1033px){
    .container{
        height: 110vh;
    }
}

@media (max-width:930px){
    .container{
        height: 120vh;
    }
}

@media (max-width:800px){
    .container{
        height: 130vh;
    }
}

@media (max-width:730px){
    .container{
        height: 150vh;
    }
}

@media  (max-width: 650px){
    .container{
        height: 170vh;
    }
}

@media (max-width:570px){
    .container{
        height: 190vh;
    }
}
