*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0px; 
    height: 100vh;
    background-color:#121212;
    background-size: cover;
    background-position: center;
}
#first-image, #second-image{
    height: 100vh;
    width: 100%;
    opacity: 80%;
    padding: 0px;
}
#first-image{
    object-fit: cover;
    object-position: center;
}
#first-text, #second-text{
    position: absolute;
    top: 40%;
    left: 40%;
    color: rgb(220, 225, 228);
    font-size: 60px;
    font-family: Chivo Mono;
}
#second-text{
    top: 46%;
}
.third-text{
    color: aliceblue;
    font-size: 50px;
    font-family: Chivo Mono;
    position: absolute;
    top: 53%;
    left: 40%;
}
.text-effect{
    color: aliceblue;
    font-size: 50px;
    font-family: Chivo Mono;
    text-shadow: 2px 2px #020010;
}

#fourth-text{
    top: 10px;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.third-container-heading{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 30px;
    font-family: Chivo Mono;
    text-shadow: 2px 2px #020010;
    padding: 40px;

}
.third-container-items{
    display: flex;
    justify-content: center;
}
.third-container-img{
    height: 600px;
    padding: 70px;
}
.third-container-inner-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.third-container-inner-items-text{
    color: aliceblue;
    font-size: 25px;
    font-family: Chivo Mono;
    text-shadow: 2px 2px #020010;
}

.third-container-inner-items-text:hover{
    color: rgb(172, 230, 230);
    transition: all 1s;
}

.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.inner-navbar{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
a{
    color: rgb(179, 172, 181);
    text-decoration: none;
}
a:hover{
    color: rgb(156, 170, 238);
}

.fourth-container{
    background-color: #0a0a0a;
    width: 100%;
    height: 20vh;
}
.fourth-container-inner-tags{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fourth-container-inner-tags-2{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5vh;
    background-color: #0a0a0a;
    color: rgb(179, 172, 181);


}

.hidden{
    opacity: 0;
    transition: all 1s;
}

.show{
    opacity: 1;
}

.inner-image-text{
    display: flex ;

}
@media (max-width:900px){
    #first-text, #second-text{
        left: 35%;
    }
    .third-text{
        left: 35%;
    }
}

@media (max-width:1000px) {
    #first-image{
        object-fit: cover;
        object-position: center;
    }
    .inner-navbar{
        width: 200px;
    }

    .third-container-items{
        flex-direction: column;
    }
    .container2{
        height: 75vh;
    }
}

@media (max-width: 1150px){
    .inner-navbar{
        width: 200px;
    }
    .container2{
        height: 85vh;
    }
}

@media(max-width:700px){
    .container2{
        height: 50vh;
    }
    #first-text, #second-text{
        left: 27%;
    }
    .third-text{
        left: 27%;
    }
}
@media (max-width:600px){
    .third-text{
        top: 60%;
    }
}