*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Chivo Mono;
    color:aliceblue;
}

body{
    min-height: 100vh;
    background-color: #121212;
    background: url('services\ bg.png') repeat;
    background-size: cover;
    background-position: center;
    
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: #121212;
    width: 100%;
    height: 4rem;
}

.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

p{
    padding: 2rem;
    backdrop-filter: blur(20px);
    box-shadow:  0 0 10px rgba(0, 0, 0, .2);
}